body {
    /*ajuste de fondo olas , tamaño de fuente y tipo de fuente*/
    background: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--Pale_blue);
}